<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.sf.net/psstools/lang/PSS"
			class = "org.psstools.psde.lang.pSS.PSSPackage"
			genModel = "model/generated/PSS.genmodel" />
	</extension>
 <extension
       id="pssc"
       name="PSS Compiler/Checker"
       point="org.eclipse.core.runtime.applications">
    <application
          cardinality="singleton-global"
          thread="main"
          visible="true">
       <run
             class="org.psstools.psde.lang.pssc.PSSCApp">
       </run>
    </application>
 </extension>
 <extension
       id="pssc"
       point="org.eclipse.core.runtime.products">
    <product
          application="org.psstools.psde.lang.pssc"
          name="PSS Compiler/Checker">
       <property
             name="appName"
             value="PSS Compiler/Checker">
       </property>
    </product>
 </extension>
</plugin>
